section#bio{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

div.title h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    margin-top: 70px;
}

div.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

div.row1{
    width: 50%;
    display: flex;
    justify-content: center;
}

div.row1 {
    font-size: 16px;
}

div.container p{
    width: 50%;
}
div.row2{
    width: 50%;
    display: flex;
    justify-content: center;

}

div.row2 {
    font-size: 16px;
}

@media screen and (max-width: 900px) {
    div.container{
        display: flex;
        flex-direction: column;
    }
    
    div.row1{
        width: 100%;
        margin-bottom: 50px;
    }

    div.row2{
        width: 100%;
    }
}