section#Skills{
    background-color: #1C2541;
    color: white;
    margin-top: 20px;
    background: linear-gradient(274deg, #43c6ac, #1C2541);
    background-size: 400% 400%;

    -webkit-animation: background-animation 59s ease infinite;
    -moz-animation: background-animation 59s ease infinite;
    animation: background-animation 59s ease infinite;
 
    box-shadow: 0 14px 108px 0 rgba(0, 0, 0, 0.12), 0 20px 85px 0 rgba(0, 0, 0, 0.19) !important;
}

@-webkit-keyframes background-animation {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}
@-moz-keyframes background-animation {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}
@keyframes background-animation { 
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}

div.title h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 70px;
    font-size: 30px;
}

div.center {
    display: flex;
    justify-content: center;
}

div.SkillList{
    margin-top: 15px;
    margin-bottom: 75px;
    width: 450px;
}

div.SkillList ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  div.SkillList li{
      list-style: none;
      margin-left: 15px;
      margin-right: 15px;
      text-transform: uppercase;
      border: 1px solid white;
      padding: 10px;
      margin-bottom: 15px;
  }

  div.SkillList li:hover{
    list-style: none;
    margin-left: 15px;
    text-transform: uppercase;
    border: 1px solid 1C2541;
    background-color: white;
    color: #1C2541;
    padding: 10px;
    margin-bottom: 15px;
}