
section#about{
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.col1 {
    margin-top: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#about img {
    margin-top: 20px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

div.col1 p {
    margin-top: 25px;
    width: 400px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


div.col2 {
    margin-top: 7%;
    margin-right: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.col2 h2{
    margin-bottom: 12px;
}

div.col2 p {
    font-size: 16px;
    margin-bottom: 10px;
}

div.col2 button{
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 15px;
}

div.col2 button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

@media screen and (max-width: 900px) {

    section#about{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    section#about img {
        margin-top: 120px;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    
    div.col1 {
        margin-top: 5%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    div.col2 {
        margin-top: 7%;
        margin-right: 10%;
        width: 100%;
    }

    div.col1 p {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }

    div.col2 h2{
        margin-bottom: 12px;
        font-size: 28px;
    }
    
    div.col2 p {
        font-size: 20px;
        margin-bottom: 18px;
    }

    div.col2 button{
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
        cursor: pointer;
        background-color: black;
        color: white;
        font-size: 18px;
    }
    
  }

    
